.input {
  height: 40px;
  width: 100%;
  margin:  10px 0;
  font-family: 'BrandonGrotesque', 'sans-serif';
  font-size: 20px;
  font-weight: 400px;
  line-height: 1.625;
  -webkit-font-smoothing: antialiased;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 33%;
  min-width: 25%;
}

#submitCntnr {
  text-align: center;
  margin: 10px 0 77px 0;
}

#submit {
  background: rgb(255,14,80);
  background: linear-gradient(90deg, rgba(255,14,80,1) 0%, rgba(213,45,155,1) 50%);
  font-style: italic;
  font-weight: 900;
  font-size: 25px;
  color: rgb(255, 255, 255);
  border: none;
  width: 175px;
  padding: 10px 0;
  border-radius: 25px;
}