@font-face {
  font-family: 'BrandonGrotesque';
  src: url('/fonts/BrandonGrotesque/Brandon_reg.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'BrandonGrotesque', 'sans-serif';
  font-size: 20px;
  font-weight: 400px;
  line-height: 1.625;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
